<ion-header>

</ion-header>

<ion-content>
  <ion-grid class="login-container">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6" class="ion-text-center">
        <ion-img src="assets/icono.jpg" alt="Logotipo"></ion-img>
        <h2>Bienvenido</h2>
        <!-- Formulario básico -->
        <form (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-input 
              placeholder="Usuario" 
              type="text"
              [(ngModel)]="username"
              name="username">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input 
              placeholder="Contraseña" 
              type="password"
              [(ngModel)]="password"
              name="password">
            </ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" class="login-button">INGRESAR</ion-button>
        </form>

        <div class="extra-options">
          <ion-button fill="clear">Registrarse</ion-button>
          <ion-button fill="clear">Recuperar Contraseña</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
